@charset "utf-8";
.clearFix:after {
	content: "";
	display: block;
	visibility: hidden;
	clear: both;
	font-size: 0px;
	height: 0px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
p {
	margin: 0;
}
a {
	color: black;
	text-decoration: none;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.box {
	box-sizing: border-box;
	height: 200px;
	width: 21.66%;
	border: 1px solid black;
}
nav, main, aside, footer {
	border: 1px solid red;
}
nav, footer {
	text-align: center;
	line-height: 50px;
}
nav, .content {
	margin-bottom: 40px;
}
nav li a {
	box-sizing: border-box;
	float: left;
	display: block;
	width: 20%;
	border-right: 1px solid gray;
}
nav li:last-child a {
	border-right: none;
}
main {
	float: right;
	width: 76.69%;
	padding: 3% 0 2% 0;
}
main .box {
	float: left;
	margin: 0 0 2.66% 2.66%;
}
main .sec02 {
	padding: 0 20px;
}
aside {
	float: left;
	width: 20.45%;
	padding-top: 3%;
}
aside .box {
	width: 81.25%;
	margin: 0 auto 10% auto;
}
@media (min-width: 767px) and (max-width: 979px) {
	main .box {
		width: 30%;
		margin-left: 2.5%;
	}
}
@media (min-width: 640px) and (max-width: 766px) {
	nav li a,
	main,
	aside {
		display: block;
		width: 100%;
	}
	nav li a {
		border-right: none;
		border-bottom: 1px solid gray;
	}
	nav li:last-child a {
		border-bottom: none;
	}
	main {
		margin-bottom: 40px;
	}
	main .box {
		width: 45%;
		margin-left: 3.33%;
	}
	aside .box {
		margin-bottom: 3%;
	}
}
@media (max-width: 639px) {
	nav li a,
	main,
	aside {
		display: block;
		width: 100%;
	}
	nav li a {
		border-right: none;
		border-bottom: 1px solid gray;
	}
	nav li:last-child a {
		border-bottom: none;
	}
	main {
		margin-bottom: 40px;
	}
	main .box {
		width: 90%;
		margin-left: 5%;
	}
	aside .box {
		width: 90%;
		margin-bottom: 3%;
	}
}
